@import "tailwindcss";
@import "@heroui/styles";

@keyframes flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-text-flow {
  background-size: 300% auto;
  animation: flow 5s ease infinite;
}

@theme {
  /* Fonts */
  --font-labrada: "Labrada", serif;
  --font-gabarito: "Gabarito", sans-serif;

  /* Colors */
  --color-onsy-light: #E4EAED;
  --color-onsy-primary: #5AA8B1;
  --color-onsy-secondary: #4B676C;

  /* Backgrounds */
  --background-image-hero: url('/src/assets/hero1.png');
}
